@import "variables.scss";
@import "style.scss";

.booking-container {
  font-size: 0.7rem;
  @media (min-width: 1025px) {
    width: 60%;
    margin: 0 auto;
  }
  @media (min-width: 1600px) {
    width: 50%;
    margin: 0 auto;
  }

}

.booking-section {
  margin-bottom: 100px;
  .booking-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }
  .booking-subtitle {
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: left;
  }
  .steps-content {
    margin-top: 4rem;
    .step-content {
      .time-list {
        padding: 0.5rem;
        background-color: #ebebeb;
        border-radius: 5px;
        margin-top: 1rem;
        text-align: left;
        font-size: 0.6rem;
        .time-text {
          font-size: 0.8rem;
          font-weight: 700;
        }
      }
      .venue-wrap {
        background: $color-light-blue;
        padding: 1rem;
        margin-bottom: 1rem;
        .venue-title {
          color: #fff;
          text-transform: uppercase;
          font-size: 0.7rem;
          text-align: left;
        }
        .venue-select {
          width: 100% !important;
          select {
            width: 100%;
          }
        }
      }
      .venue-accordions {
        .accordion-header {
          background-color: #f5f5f5;
          color: #000000;
          font-weight: 600;
          font-size: 0.9rem;
        }
        .accordion-body {
          background-color: #ffffff;
        }
        .venue-toggle {
          background: transparent;
        }
        .venue-toggle::before {
          color: $color-light-blue;
          font-weight: 700;
          font-size: 1rem;
        }
        .venue-columns {
          flex-wrap: wrap;
          .venue-column {
            color: #000000;
            @include flex;
            border-bottom: 1px solid #e5e5e5;
            padding-bottom: 1rem;
            .venue-type {
              width: 20%;
              @media (min-width: 768px) {
                width: 25%;
              }
              text-align: left;
              font-size: 0.8rem;
              font-weight: 700;
              word-break: break-word;
              .venue-text {
                font-size: 0.7rem;
                color: #afafaf;
              }
            }
            .venue-price {
              width: 20%;
              @media (min-width: 768px) {
                width: 25%;
              }
              text-align: right;
              font-size: 0.8rem;
              font-weight: 700;
              word-break: break-word;
            }
            .input-wrap {
              width: 60%;
              @media (min-width: 768px) {
                width: 50%;
              }
              .venue-input {
                height: 32px;
                width: 51px;
                margin-right: -4px;
                margin-left: -4px;
                text-align: center;
                border: 1px solid #d6d6d6;
                outline: none;
              }
              .venue-buttons {
                height: 32px;
                border-color: #d6d6d6;
                border-radius: 0;
                font-weight: 700;
                color: #000000;
                &.is-left {
                  border-right: transparent;
                }
                &.is-right {
                  border-left: transparent;
                }
              }
            }
          }
        }
      }
      .button-wrap {
        margin-top: 1rem;
        .btn-load {
          background-color: $color-light-blue;
          border: 1px solid $color-light-blue;
          color: #ffffff;
          width: 100%;
        }
      }
      .payment-summary {
        padding: 1.5rem 0.6rem;
        font-size: 0.8rem;
        font-weight: 700;
        @media (min-width: 768px) {
          padding: 1.5rem 0.8rem;
        }
        .payment-column {
          border-bottom: 1px solid #e5e5e5;
          padding: 0.5rem;
          .pay-title {
            width: 49%;
            display: inline-block;
            &.pay-left {
              text-align: left;
            }
            &.pay-right {
              text-align: right;
            }
          }

          &.payment-total,
          &.payment-balance {
            color: #000000;
            font-size: 0.9rem;
          }
          &.payment-advance {
            color: $color-baby-blue;
            font-size: 0.9rem;
            .payment-checkbox {
              text-align: left;
              .advance-text {
                color: #bdbdbd;
                font-size: 0.7rem;
                font-weight: 500;
              }
            }
          }
        }
      }
      .promo-accordion {
        margin-top: 1rem;
        .accordion-header {
          background-color: #f5f5f5;
          color: #000000;
          font-weight: 600;
          font-size: 0.9rem;
        }
        .accordion-body {
          background-color: #ffffff;
        }
        .promo-toggle {
          background: transparent;
        }
        .promo-toggle::before {
          color: $color-light-blue;
          font-weight: 700;
          font-size: 1rem;
        }
        .promo-content {
          margin: 0 auto;
          width: 80%;
          @media (min-width: 768px) {
            width: 40%;
          }
          .promo-input {
            border: 1px dashed $color-light-blue;
            border-radius: 5px;
            height: 40px;
            text-align: center;
            width: 100%;
            color: #c0c0c0;
            font-weight: 700;
            font-size: 1.2rem;
            letter-spacing: 1rem;
          }
          .btn-promo {
            font-weight: 700;
            color: #0a0a0a;
            display: block;
            margin-top: 1rem;
            width: 100%;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.booking-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
  background-color: #f1f2f2;
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.05) !important;
  border-top: 1px solid #ebebeb !important;
  .footer-content {
    padding: 0.7rem;
    display: flex;
    @media (min-width: 1025px) {
      width: 65%;
      margin: 0 auto;
    }
    @media (min-width: 1600px) {
      width: 50%;
      margin: 0 auto;
    }
    .footer-left {
      display: none;
      @media (min-width: 768px) {
        display: inline-block;
        flex: 1 1 25%;
      }
      .footer-title {
        font-weight: 700;
      }
      .footer-subtitle {
        color: $color-light-blue;
        font-weight: 700;
        font-size: 0.8rem;
      }
    }
    .footer-center {
      flex: 1 1 50%;
      @media (min-width: 768px) {
        flex: 1 1 25%;
        text-align: center;
      }
      .footer-price {
        font-weight: 700;
        font-size: 1.2rem;
        color: #000000;
      }
      .footer-title {
        font-weight: 500;
      }
    }
    .footer-right {
      flex: 0;
      .btn-book {
        height: auto;
        .btn-text {
          font-weight: 700;
          color: $black;
          display: block;
          margin-bottom: -6px;
          text-transform: uppercase;
        }
        .btn-subtext {
          font-size: 0.6rem;
          margin-top: 0.1rem;
          display: block;          
        }
      }
    }
  }
}

.promo-modal {
  z-index: 1000;
  .promo-card {
    text-align: center;
    width: 95%;
    @media (min-width: 768px) {
      width: 45%;
    }
    margin: 0 auto;
    padding:1rem;
    .promo-modal-title{
      color: #000000;
      font-weight: 700;
    }
    .promo-modal-subtitle{
      font-size: 0.7rem;
      color: #afafaf;
    }
    .promo-image{
      margin-top: 1rem;
    }
    .promo-modal-input {
      border: 1px solid $color-light-blue;
      border-radius: 5px;
      height: 40px;
      text-align: center;
      width: 100%;
      color: #c0c0c0;
      font-weight: 700;
      font-size: 1.2rem;
      letter-spacing: 1rem;
      margin-top: 1rem;
    }
    .btn-modal-promo {
      font-weight: 700;
      color: #0a0a0a;
      display: block;
      margin-top: 1rem;
      width: 100%;
      text-transform: uppercase;
    }
    .modal-text{
      margin: 1rem 0;
      font-weight: 700;
      color: #000000;
      font-size: 0.8rem;
    }
    .modal-phone{
      font-weight: 700;
      color: $color-light-blue;
    }
  }
}
