@import "style.scss";
@import "variables.scss";

.ms-navbar {
  height: 4rem;
  border-bottom: 1px solid #eaeaea;
  .btn-listSpaces {
    border-radius: 5px;
  }
  .navbar-select {
    .btn-navbar {
      background-color: transparent;
      border-radius: 5px;
      border: none;
      box-shadow: none;
    }
  }

  .icon-user {
    color: $color-light-blue;
  }
}

.filter-bar {
  width: 100%;
  overflow-y: auto;
  width: 100%;
  background-color: #ffffff;
  padding: 0.8rem 1rem;
  @media screen and (min-width: 768px) {
    display: none;
  }
  .list-scroll{
    width: 400px;
  }
  .list-wrap {
    overflow-y: auto;
    .filter-list {
      display: inline-block;
      background-color: #ffffff;
      border: 1px solid #dbdbdb;
      color: #888888;
      min-width: 29%;
      text-align: center;    
      font-size: 0.8rem;
      border-radius: 5px;
      padding: 0.6rem 0.5rem;
      margin: 0.3rem;
      font-size: 0.8rem;
      cursor: pointer;
      line-height: 1rem;
      &.active {
        background-color: $color-orange;
        border: none;
        color: #000000;
        font-weight: 700;
      }

      .icon-circle {
        font-size: 0.5rem;
      }
    }
  }
}

.filterModal {
  .budget-wrap {
    margin-bottom: 0.5rem;
    .filter-title {
      font-size: 0.9rem;
      font-weight: 700;
    }
  }
  .filterModal-card {
    height: 100%;
    .filterModal-header {
      background-color: #ffffff;
      text-align: center;
      font-size: 0.8rem;
      border-radius: 0;
      .modal-title {
        font-weight: 700;
        font-size: 1rem;
      }
      .reset-text {
        color: $color-light-blue;
        cursor: pointer;
      }
      .delete {
        background-image: linear-gradient($color-baby-blue, $color-light-blue);
      }
    }
    .budget-wrap {
      .input-wrap {
        display: flex;
        font-size: 0.7rem;
        .left-wrap {
          flex: 1 1 30%;
          margin-right: 10%;
        }
        .right-wrap {
          flex: 1 1 30%;
        }
      }
    }
    .modal-footer {
      justify-content: center;
      border-radius: 0;
      .btn-apply {
        width: 100%;
        font-weight: 700;
      }
    }
  }
}

.filter-section {
  background-color: #ffffff;
  display: none;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 35%;
  }
  @media screen and (min-width: 1024px) {
    display: inline-block;
    width: 25%;
  }
  @media screen and (min-width: 1200px) {
    width: 20%;
  }
  .title-wrapper {
    margin-bottom: 1.2rem;
    .sub-title {
      font-weight: 700;
    }
    .reset-icon {
      float: right;
      font-size: 0.8rem;
      cursor: pointer;
    }
  }
  .filter-wrap {
    min-height: 5rem;
    .filter-title {
      font-size: 0.9rem;
      font-weight: 700;
    }
    .filter-content {
      .select {
        margin-top: 0.4rem;
        width: 100%;
        .filter-select {
          width: 100%;
          border-color: $color-dark-grey;
        }
        .filter-select::after {
          border-color: $color-light-blue;
        }
      }
    }
  }
  .budget-content {
    margin-top: 0.4rem;
    .input-wrap {
      display: flex;
      font-size: 0.7rem;
      .left-wrap {
        flex: 1 1 30%;
        margin-right: 10%;
      }
      .right-wrap {
        flex: 1 1 30%;
      }
    }
  }
}

.filter-accordions {
  @media screen and (min-width: 768px) {
    margin-top: 1.2rem;
    border-top: 1px solid $color-dark-grey;
  }
  .filter-accordion {
    .accordion-header {
      background-color: #ffffff;
      position: relative;
      padding: 0.8rem 0;
      .accordion-title {
        font-size: 0.9rem;
        font-weight: 700;
        margin-bottom: 0;
        color: #000000;
      }
      .accordion-subtitle {
        display: block;
        font-size: 0.7rem;
        color: #767676;
        margin-top: 0.4em;
      }
      .accordion-icon::before {
        color: $color-light-blue;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.2rem;
      }
      .accordion-icon {
        background: none;
      }
    }
    .accordion-body {
      border: none !important;
      border-top: 1px solid $color-dark-grey !important;
      .accordion-content {
        background-color: #fdfdfd;
        padding: 1rem 0.8rem 1rem 0 !important;
        @include flex;
        .list-wrap {
          display: block;
          background-color: #ffffff;
          border: 1px solid #dbdbdb;
          border-radius: 5px;
          padding: 0.5rem 0.8rem;
          margin: 0.3rem;
          font-size: 0.8rem;
          cursor: pointer;
          line-height: 1rem;
          &.active {
            background-color: $color-orange;
            border: none;
          }
        }
        .select {
          width: 100%;
          .filter-select {
            width: 100%;
            border-color: $color-dark-grey;
            font-size: 0.8rem;
            height: 2.3rem;
          }
          .filter-select::after {
            border-color: $color-light-blue;
          }
        }
        .location-select {
          width: 100%;
          .filter-icon {
            color: $color-light-blue;
          }
        }
      }
    }
  }
}

.filter-input:focus,
.filter-input:active,
.select .filter-select:focus,
.select .filter-select:active {
  border-color: $color-dark-grey;
  box-shadow: none;
}

.filter-input,
.select .filter-select {
  border-color: $color-dark-grey;
  box-shadow: none;
}

.sortModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 100px 40px 0px 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
  }
  .modal-body {
    .accordian-title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
  }
  .delete {
    position: absolute;
    top: 2%;
    right: 2%;    
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
