@import "variables.scss";
@import "style.scss";

.my-booking-container {
  @media (min-width: 1025px) {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
  }
  @media (min-width: 1600px) {
    width: 65%;
    margin: 0 auto;
    padding: 2rem;
  }
}

.my-booking-section {
  .booking-title,
  .booking-subtitle {
    font-weight: 700;
  }

  .my-booking-column {
    flex-wrap: wrap;
    .booking-tag {
      margin-bottom: 0.5rem;
      font-weight: 700;
      color: #ffffff;
      .tag-success {
        background-color: #28b873;
      }
      .tag-danger {
        background-color: #ca0d12;
      }
      .text-space {
        color: #b3b3b3;
        font-size: 0.8rem;
        font-weight: 600;
      }
    }
    .booking-price {
      color: #b3b3b3;
      font-weight: 600;
      margin-top: 1rem;
    }
    .card-footer-item {
      cursor: pointer;
    }
  }
  .booking-nav{
    margin-bottom: 1rem;
    .btn-toggle{
      width: 120px;
    }
    .booking-select{  
      @media (min-width: 464px) {
        float: right;
      }
      .btn-dropdown{
        min-width: 150px;
      }
    }
  }

}
