@import "style.scss";
@import "variables.scss";

.slider-section {
  background-image: url(https://www.hotelabq.com/sites/hotelabq.com/files/styles/slideshow_2018/public/website/hotel-albuquerque/Hotel-Albuquerque-Old-Town-Lobby1-HERO.jpg?itok=BGWGWunX);
  @include background-property;
  background-color: rgba(0, 0, 0, 0.3);
  height: 650px;
  position: relative;
  .slider-wrap {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    .slider-heading {
      position: absolute;
      color: #ffffff;
      text-align: center;
      bottom: 0;
      width: 100%;
      .slider-title {
        font-weight: 700;
        color: #ffffff;
        display: block;
        font-size: 1.8rem;
        @media (min-width: 768px) {
          font-size: 2.3rem;
        }
      }
      .arrow {
        display: block;
        margin: 1rem auto;
        font-size: 2.5rem;
        color: #ffffff;
      }
      .down {
        -webkit-animation: downarrow 0.9s infinite alternate ease-in-out;
      }

      @-webkit-keyframes downarrow {
        0% {
          -webkit-transform: translateY(0);
          opacity: 0.4;
        }
        100% {
          -webkit-transform: translateY(0.4em);
          opacity: 0.9;
        }
      }
      .sub-title {
        @media (min-width: 768px) {
          font-size: 1.3rem;
        }
      }
    }
  }
}

.customized-container {
  background-color: #ffffff;
}

.profile-container {
  padding: 1.4rem;
  @media (min-width: 1025px) {
    width: 55%;
    margin: 0 auto;
    padding: 2rem;
  }
  .text-more {
    text-align: right;
    display: block;
    color: $color-light-blue;
    font-weight: 700;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .star-icon-wrap {
    color: #f14036;
    font-size: 0.9rem;
  }
  .heading-section {
    margin-bottom: 1.5rem;
    .profile-title {
      font-weight: 700;
      font-size: 2rem;
    }
    .profile-sub-title {
      color: $color-light-blue;
      font-weight: 700;
    }
    .profile-address {
      color: #a4a4a6;
      font-size: 0.8rem;
    }
    .profile-reviews {
      margin-top: 0.4rem;
      .review-text {
        font-size: 0.8rem;
        color: $color-light-blue;
        font-weight: 700;
      }
    }

    .heading-detail {
      margin-top: 0.8rem;
    }
  }

  .detail-section {
    margin-top: 1rem;
    .detail-wrap {
      border-top: 1px solid #dbdbdb;
      .detail-col {
        padding-top: 0rem;
        .detail-content {
          @media (min-width: 768px) {
            padding: 1rem;
          }
          @include flex;
          justify-content: flex-start;
          .menu-title {
            display: inline-block;
            padding-right: 1rem;
            color: $color-light-blue;
            cursor: pointer;
          }
          .list-wrap {
            @include flex;
            align-items: center;
            min-width: 50%;
            margin-bottom: 0.5rem;
            @media (min-width: 768px) {
              min-width: 33%;
            }
            text-align: left;
            .list-img {
              flex: 0 0 auto;
              margin-right: 0.4rem;
            }
            .list-content {
              flex: 1 1 auto;
              text-align: left;
              .list-heading {
                font-weight: 700;
                word-break: break-word;
              }
              .list-sub-heading {
                font-weight: 700;
                word-break: break-word;
              }
            }
          }
          .images {
            width: 33.33%;
            text-align: center;
            word-break: break-word;
            @media (min-width: 768px) {
              width: 25%;
            }
            @media (min-width: 992px) {
              width: 18%;
            }
            .detail-text {
              display: block;
            }
          }
        }
      }
      .detail-heading {
        font-weight: 700;
      }
    }
  }

  .price-wrap {
    .price-note {
      margin-bottom: 1rem;
      .info-icon {
        color: $color-light-blue;
      }
    }
    .price-content {
      width: 100%;
      .week-text {
        font-weight: 700;
      }
    }
  }

  .event-wrap {
    .event-content {
      @include flex-column;
    }
  }

  .overview-wrap {
    .overview-content {
      @include flex-column;
    }
  }

  .rules-wrap {
    .rules-content {
      @include flex-column;
    }
  }

  .amenities-wrap {
    .amenities-subheading {
      font-weight: 700;
      color: $color-light-blue;
      width: 100%;
      margin-bottom: 1rem;
    }

    .chargable-list {
      width: 100%;
      margin-top: 1.2rem;
      .left-wrap {
        display: flex;
        align-items: center;
      }
      .amenities-images {
        margin-right: 0.3rem;
      }
    }
  }

  .cancel-wrap {
    .sub-heading {
      font-weight: 700;
    }
  }

  .table-list {
    @include flex;
    padding: 0.5em 0;
    .left-wrap {
      flex: 1 1 46%;
      @media (min-width: 768px) {
        flex: 1 1 50%;
      }
    }
    .right-wrap {
      flex: 1 1 42%;
      @media (min-width: 768px) {
        flex: 1 1 50%;
      }
    }
  }
}

.what-say-wrap {
  .what-say-content {
    .media-wrap {
      .profile-reviews {
        .review-text {
          font-size: 0.8rem;
          color: $color-light-blue;
          font-weight: 700;
        }
      }
      .review-content {
        margin-top: 0.8rem;
      }
    }
    .rating-wrap {
      width: 100%;
      padding: 1rem 0;
      border-bottom: 1px solid #dbdbdb;
      margin-bottom: 1rem;
      .left-wrap {
        .rate-text {
          font-size: 4rem;
          font-weight: 700;
          margin-top: -1rem;
          display: block;
        }
        .review-text {
          margin-top: -2.5rem;
          display: block;
          color: $color-light-blue;
          font-weight: 700;
        }
      }
      .right-wrap {
        @media (min-width: 768px) {
          text-align: right;
        }
      }
    }
  }
}

.similar-space-wrap {
  margin-bottom: 7rem !important;
  .carousel-animate-slide {
    .profile-carousel-arrow {
      background-color: $color-light-blue !important;
      color: #ffffff !important;
      border-radius: 50%;
    }
  }
  .feature-thumbnail {
    cursor: pointer;

    position: relative;
    .price-box-wrapper {
      position: absolute;
      width: 40%;
      top: 0;
      right: 0;
      color: #ffffff;
      padding: 5px;
      font-weight: 600;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0), #383838);
      border-radius: 0 5px 0 0;
      span {
        display: block;
        text-align: right;
        &.price-label {
          font-size: 0.8rem;
        }
        &.price {
          font-size: 1rem;
        }
        &.cut-price {
          text-decoration: line-through;
          color: $color-orange;
          font-size: 0.9rem;
        }
      }
    }

    .offer-wrapper {
      height: 56px;
      width: 70px;
      border-radius: 0 0 10px 10px;
      position: absolute;
      top: 0;
      left: 5%;
      background-color: #ffdd57;
      text-align: center;
    }
    .offer-price {
      font-size: 0.6rem;
      line-height: 1rem;
      font-weight: 700;
      @include flex-column;
      padding-top: 0.2rem;
      .text-price {
        font-weight: 700;
        font-size: 1.2rem;
        letter-spacing: -1.8px;
      }
    }
  }

  .thumbnail-content {
    cursor: pointer;
    box-shadow: 0px 6px 10px -4px rgba(166, 164, 166, 1);
    padding: 0.5rem;
    background-color: #ffffff;
    display: flex;
    .name-and-org {
      width: 70%;
      .content-title {
        display: block;
        font-weight: 700;
        font-size: 1rem;
        margin-bottom: 0.1rem;
      }

      .sub-title {
        display: block;
        font-weight: 600;
        color: #209cee;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 0.8rem;
      }
    }
    .user-count {
      width: 30%;
      text-align: right;
      span {
        color: #525252;
        margin-right: -3px;
      }
      i.fa-user {
        font-weight: inherit;
      }
    }
  }
}

.map {
  height: 400px;
  width: 100%;
}

.profile-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
  background-color: #f1f2f2;
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.05) !important;
  border-top: 1px solid #ebebeb !important;
  .footer-content {
    padding: 0.7rem;
    display: flex;
    @media (min-width: 1025px) {
      width: 60%;
      margin: 0 auto;
    }
    .footer-left {
      display: none;
      @media (min-width: 768px) {
        display: inline-block;
        flex: 1 1 25%;
      }
      .footer-title {
        font-weight: 700;
      }
      .footer-subtitle {
        color: $color-light-blue;
        font-weight: 700;
        font-size: 0.8rem;
      }
    }
    .footer-center {
      flex: 1 1 50%;
      @media (min-width: 768px) {
        flex: 1 1 25%;
        text-align: center;
      }
      .footer-price {
        font-weight: 700;
        font-size: 1.2rem;
        color: #000000;
      }
      .footer-title {
        font-weight: 500;
      }
    }
    .footer-right {
      flex: 0;
      .btn-book {
        height: auto;
        .btn-text {
          font-weight: 700;
          color: $black;
          display: block;
          margin-bottom: -6px;
        }
        .btn-subtext {
          font-size: 0.6rem;
          margin-top: 0.1rem;
          display: block;
        }
      }
    }
  }
}
