@import "style.scss";
@import "variables.scss";


.sidebar{
  @media (min-width: 768px){
    width:30%;
    display: inline-block;

  }
  @media (min-width: 1200px) {
    width:20%;
    display: inline-block;

  }
  position: fixed;
  display: none;
  @media (min-width: 768px) {
  }
  .tab{
    padding: 1rem 2rem;
    cursor: pointer;
    &.active{
      background-color: $color-light-blue;
      color: #ffffff;
    }
  }
}