@import "style.scss";
@import "variables.scss";

.main-wrap {
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }
}

.results-section {
  width: 100%;
  position: absolute;
  right: 0;
  padding-top: 1rem !important;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.06) !important;
  @media screen and (min-width: 768px) {
    width: 65% !important;
    padding-top: 3rem !important;
  }
  @media screen and (min-width: 1024px) {
    width: 75% !important;
  }
  @media screen and (min-width: 1200px) {
    width: 80% !important;
  }
  .result-top-wrap {
    margin-bottom: 0.8rem;
    .text-result {
      margin-bottom: 0.8rem;
      display: inline-block;
    }
    .sort-wrap {
      display: none;
      @media screen and (min-width: 768px) {
        display: inline-block;
      }
      .btn-sort {
        background-color: $color-light-blue;
        border: 1px solid $color-light-blue;
        color: #ffffff;
        font-size: 0.9rem;
      }
    }
  }
  .results-wrap {
    flex-wrap: wrap;
    .feature-column {
      &.is-landsacpe-tablet {
        @media screen and (min-width: 1024px) and (max-width: 1280px) {
          width: 50%;
        }
      }
    }

    .feature-thumbnail {
      cursor: pointer;
      .feature-img {
        border-radius: 5px 5px 0 0;
      }
      position: relative;
      .price-box-wrapper {
        position: absolute;
        width: 40%;
        top: 0;
        right: 0;
        color: #ffffff;
        padding: 5px;
        font-weight: 600;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0), #383838);
        border-radius: 0 5px 0 0;
        span {
          display: block;
          text-align: right;
          &.price-label {
            font-size: 0.8rem;
          }
          &.price {
            font-size: 1rem;
          }
          &.cut-price {
            text-decoration: line-through;
            color: $color-orange;
            font-size: 0.9rem;
          }
        }
      }

      .offer-wrapper {
        height: 56px;
        width: 70px;
        border-radius: 0 0 10px 10px;
        position: absolute;
        top: 0;
        left: 5%;
        background-color: #ffdd57;
        text-align: center;
      }
      .offer-price {
        font-size: 0.6rem;
        line-height: 1rem;
        font-weight: 700;
        @include flex-column;
        padding-top: 0.2rem;
        .text-price {
          font-weight: 700;
          font-size: 1.2rem;
          letter-spacing: -1.8px;
        }
      }
    }

    .thumbnail-content {
      cursor: pointer;
      border-left: 1px solid #f5f5f5;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06) !important;
      padding: 0.5rem;
      background-color: #ffffff;
      display: flex;
      border-radius: 0 0 5px 5px;
      .name-and-org {
        width: 70%;
        .content-title {
          display: block;
          font-weight: 700;
          font-size: 1rem;
          margin-bottom: 0.1rem;
        }

        .sub-title {
          display: block;
          font-weight: 600;
          color: #209cee;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 0.8rem;
        }
      }
      .user-count {
        width: 30%;
        text-align: right;
        span {
          color: #525252;
          margin-right: -3px;
        }
        i.fa-user {
          font-weight: inherit;
        }
      }
    }
  }
}
