@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-extensions/bulma-accordion/dist/css/bulma-accordion.sass";
@import "../node_modules/bulma-extensions/bulma-carousel/dist/css/bulma-carousel.sass";
@import "../node_modules/bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio.sass";
@import "../node_modules/bulma-extensions/bulma-steps/dist/css/bulma-steps.sass";


html, body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

body{
  min-height: 100vh;
  color: #000000;
}

@mixin flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin background-property{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;  
}

