@import "variables.scss";
@import "style.scss";

.my-profile-container {
  background-color: #f7f7f7;
  position: absolute;
  right: 0;
  margin: 0 auto;
  width: 100%;
  @media (min-width: 768px){
    width:70%;
  }
  @media (min-width: 1200px) {
    width:80%;
    height: 100%;
  }
}

.myprofile-section {  
  margin: 0 auto;
  @media (min-width: 768px){
    width:100%;
  }
  @media (min-width: 1200px) {
    width:50%;
  }
  .user-title{
    font-weight: 700;
  }
  .profile-columns {
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  .btn-save{
    font-weight: 700;
    color: #0a0a0a;
    display: block;
    margin-top: 1rem;
    width: 100%;
    text-transform: uppercase;
  }
  .is-rounded{
    border-radius: 50%;
  }
}
